<html>
<head>
	<!-- Import the Cantabile Javscript API library -->
	<script src="/lib/cantabile-js.min.js"></script>

	<!-- Cantabile bundles a copy of libs -->
	<script src="/lib/vue.js"></script>
	<script src="/lib/jquery.min.js"></script>

	<!-- Styles -->
	<link href="/styles.css" type="text/css" rel="stylesheet" />

	<!-- Scale -->
	<meta name="viewport" content="initial-scale=1">
</head>
<body>

<div id="main">

<div id="top-bar">
	<ul>
		<li><a id="setlist" href="#" class="active">Set List</a></li>
		<li><a id="states" href="#">States</a></li>
		<li><a id="notes" href="#">Notes</a></li>
	</ul>
</div>

<div class="content">

	<!-- Set List -->
	<div class="setlist tabcontent" id="setlist-content">
	    <div v-for="(i, index) in items" 
		    	v-bind:class="itemClasses(i)" 
		    	v-on:click="loadSong(index)">
	    	<span v-if="i.kind == 'song'" class="pr">{{i.pr+1}}</span>
	    	<span class="title">{{i.name}}</span>
	    </div>
	</div>

	<!-- states -->
	<div class="states tabcontent" id="states-content">
		<div v-for="(i, index) in items" 
				class="state"
				v-bind:class="itemClasses(i)" 
				v-on:click="loadState(index)">
			<span class="pr">{{i.pr+1}}</span>
			<span class="title">{{i.name}}</span>
		</div>
	</div>
	

</div>

<div id="bottom-bar">
		TOP BAR
</div>
	
	
</div>

<script>

	var currentTab = "setlist";

	$(function() {
		$("div#top-bar a").click(function(e) {
			// Highlight the selected tab
			$("div#top-bar a").removeClass("active");
			$(e.target).addClass("active");

			// Hide/show content
			$(".tabcontent").hide();
			$("#" + e.target.id + "-content").show();
			currentTab = e.target.id;

			onTabChanged();
		});
	})

	function onTabChanged()
	{
		if (currentTab == "setlist")
		{
			centerSetList();
		}
	}

	function centerSetList()
	{
		if (currentTab == "setlist")
		{
			Vue.nextTick(function() {
				$("div.sli-song.active")[0].scrollIntoView({
					behavior: "smooth",
					block: "center",
					inline: "center",
				})
			});
		}
	}

	// Create an instance of the Cantabile library and connect it
	var C = new Cantabile();
	C.connect();

	// Connect set list data to the HTML template via Vue
	C.setList.on('changed', () => {
		setlist.items = C.setList.items;
		setlist.currentSong = C.setList.currentSong;
		setlist.name = C.setList.name;
	});
	C.setList.on('currentSongChanged', () => {
		setlist.currentSong = C.setList.currentSong;

		centerSetList();
	});
	C.setList.open();
	var setlist = new Vue({
		el: "#setlist-content",
		data: {
			items: C.setList.items,
			currentSong: C.setList.currentSong,
			name: C.setList.name,
		},
		methods: {
			loadSong: function(item)
			{
				C.setList.loadSongByIndex(item);
			},
			isActive: function(item)
			{
				return C.setList.currentSong === item;
			},
			itemClasses: function(item)
			{
				return {
					"sli-song": item.kind == 'song',
					"sli-break": item.kind == 'break',
					"active": this.currentSong === item,
				}
			}
		}
	});


	// Connect song states to the HTML template
	C.songStates.on('changed', () => {
		states.items = C.songStates.items;
		states.currentState = C.songStates.currentState;
		states.name = C.songStates.name;
	});
	C.songStates.on('currentStateChanged', () => {
		states.currentState = C.songStates.currentState;
	});
	C.songStates.open();
	var states = new Vue({
		el: "#states-content",
		data: {
			items: C.songStates.items,
			currentState: C.songStates.currentState,
			name: C.songStates.name,
		},
		methods: {
			loadState: function(item)
			{
				C.songStates.loadStateByIndex(item);
			},
			isActive: function(item)
			{
				return C.songStates.currentState === item;
			},
			itemClasses: function(item)
			{
				return {
					"active": this.currentState === item,
				}
			}
		}
	});

</script>
</body>
</html>