@import url("fonts/open-sans/open-sans.css");
/* -----------------  color sizes  ----------------- */
/* -----------------  screen sizes  ----------------- */
/* -----------------  basics  ----------------- */
html {
  position: relative;
  min-height: 100%;
  height: auto!important;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  box-sizing: border-box;
  background-color: black;
}
/* -----------------  top bar  ----------------- */
header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  right: 0px;
  overflow: hidden;
  background-color: #222326;
  color: white;
  text-align: center;
}
header ul li {
  display: inline;
  padding: 10px 10px;
}
header ul li a {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 5px;
}
header ul li a.router-link-active {
  background-color: #002d62;
}
/* -----------------  bottom bar  ----------------- */
footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: green;
  background-color: #222326;
  color: white;
}
main {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  overflow: auto;
  padding: 50px;
  color: white;
}
@media only screen and (max-width: 979px) {
  main {
    padding: 20px;
  }
}
p img {
  max-width: 100%;
}
div.content {
  width: 100%;
  max-width: 1000px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #404040;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  padding-bottom: 50px;
}
div.content a {
  color: #404040;
}
@media only screen and (max-width: 979px) {
  div.content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* -----------------  item list  ----------------- */
div.itemlist {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
div.itemlist div.item {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}
div.itemlist div.item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
div.itemlist div.item.active {
  background-color: #0372ed;
}
div.itemlist div.item-break {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
