@import url("fonts/open-sans/open-sans.css");
html {
  position: relative;
  min-height: 100%;
  height: auto!important;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  box-sizing: border-box;
  background-color: black;
}
header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  right: 0px;
  overflow: hidden;
  background-color: #222326;
  color: white;
  text-align: center;
}
header ul {
  padding: 0;
}
header ul li {
  display: inline;
  padding: 10px 10px;
}
header ul li a {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 5px;
}
header ul li a.router-link-active {
  background-color: #002d62;
}
footer {
  position: absolute;
  bottom: 0px;
  height: 70px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: green;
  background-color: #222326;
  color: white;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  justify-content: center;
}
footer button {
  height: 100%;
  width: 100px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 75%;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
footer button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
footer button#play {
  background-image: url(/theme/dark/PlayButton@2x.png);
}
footer button#play:active {
  background-image: url(/theme/dark/PlayButton_pressed@2x.png);
}
footer button#play.checked {
  background-image: url(/theme/dark/PlayButton_hot@2x.png);
}
footer button#pause {
  background-image: url(/theme/dark/PauseButton@2x.png);
}
footer button#pause:active {
  background-image: url(/theme/dark/PauseButton_pressed@2x.png);
}
footer button#pause.checked {
  background-image: url(/theme/dark/PauseButton_hot@2x.png);
}
footer button#stop {
  background-image: url(/theme/dark/StopButton@2x.png);
}
footer button#stop:active {
  background-image: url(/theme/dark/StopButton_pressed@2x.png);
}
main {
  position: absolute;
  top: 50px;
  bottom: 70px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 50px;
  color: white;
}
@media only screen and (max-width: 979px) {
  main {
    padding: 20px;
  }
}
div.content {
  width: 100%;
  max-width: 1000px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #404040;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  padding-bottom: 50px;
}
div.content a {
  color: #404040;
}
@media only screen and (max-width: 979px) {
  div.content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
div.itemlist {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
div.itemlist div.item {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}
div.itemlist div.item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
div.itemlist div.item.active {
  background-color: #0372ed;
}
div.itemlist div.item-break {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
div.noteList div.note {
  padding: 10px;
  position: relative;
  text-align: center;
}
div.noteList div.note img.noteImage {
  max-width: 100%;
}
div.noteList div.note div.noteText {
  white-space: pre;
  font-family: "Segoe UI", "Open Sans";
}
div.noteList div.note div.placeOverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #444;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
